.loader {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100vh;

    background: #09090B;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    z-index: 999999;

}

.loader-logo {

    font-size: 48px;

    font-weight: 800;

    margin-bottom: 40px;

}

.loader-logo span {

    color: #ff5a36;

}

.loader-bar {

    width: 260px;

    height: 6px;

    background: #222;

    border-radius: 20px;

    overflow: hidden;

}

.loader-fill {

    height: 100%;

    width: 0;

    background: #ff5a36;

    animation: loading 2s linear forwards;

}

@keyframes loading {

    to {

        width: 100%;

    }

}