@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@500;600;700;800&display=swap");

@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {

    background: #050816;

    font-family: 'Inter', sans-serif;

    color: white;

    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {

    font-family: 'Montserrat', sans-serif;
}

.gradient-text {

    background: linear-gradient(90deg, #7C3AED, #A855F7, #F59E0B);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.glass {

    background: rgba(255, 255, 255, .05);

    backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, .08);
}

.section {

    padding: 100px 8%;
}

.btn-primary {

    background: linear-gradient(135deg, #7C3AED, #A855F7);

    padding: 14px 34px;

    border-radius: 50px;

    transition: .4s;

    font-weight: 600;
}

.btn-primary:hover {

    transform: translateY(-5px);

    box-shadow: 0 15px 35px rgba(124, 58, 237, .5);
}