.contact-container{

width:90%;

max-width:1300px;

margin:auto;

}

.contact-hero{

position:relative;

min-height:75vh;

display:flex;

align-items:center;

background:
linear-gradient(rgba(5,8,22,.88),rgba(5,8,22,.92)),
url("/images/contact-banner.jpg");

background-size:cover;

background-position:center;

}

.contact-hero h1{

font-size:68px;

color:white;

margin:20px 0;

line-height:1.1;

}

.contact-hero h1 span{

background:linear-gradient(
90deg,
#7C3AED,
#EC4899);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.contact-hero p{

max-width:600px;

color:#CBD5E1;

line-height:1.8;

font-size:18px;

}

.contact-info{

padding:120px 0;

background:#08101d;

}

.info-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.info-card{

padding:40px;

text-align:center;

background:rgba(255,255,255,.05);

border-radius:22px;

border:1px solid rgba(255,255,255,.08);

transition:.35s;

}

.info-card:hover{

transform:translateY(-8px);

border-color:#7C3AED;

}

.info-card svg{

font-size:42px;

color:#A855F7;

margin-bottom:20px;

}

.info-card h3{

color:white;

margin-bottom:15px;

}

.info-card p{

color:#94A3B8;

line-height:1.8;

}

.contact-form-section{

padding:120px 0;

background:#050816;

}

.form-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

align-items:center;

}

.form-content h2{

font-size:46px;

color:white;

margin:20px 0;

}

.form-content p{

color:#94A3B8;

line-height:1.9;

}

.contact-form{

display:flex;

flex-direction:column;

gap:20px;

}

.contact-form input,
.contact-form textarea{

padding:18px 20px;

background:#111827;

border:1px solid rgba(255,255,255,.08);

border-radius:14px;

color:white;

font-size:16px;

outline:none;

}

.contact-form textarea{

resize:none;

}

.contact-form button{

padding:18px;

border:none;

border-radius:50px;

background:linear-gradient(
135deg,
#7C3AED,
#A855F7);

color:white;

font-size:16px;

font-weight:700;

cursor:pointer;

transition:.35s;

}

.contact-form button:hover{

transform:translateY(-5px);

}

.map-section iframe{

width:100%;

height:500px;

border:none;

}

.contact-cta{

padding:120px 20px;

text-align:center;

background:linear-gradient(
135deg,
#7C3AED,
#5B21B6);

}

.contact-cta h2{

font-size:50px;

color:white;

margin-bottom:20px;

}

.contact-cta p{

color:#E5E7EB;

font-size:18px;

margin-bottom:35px;

}

.contact-cta button{

padding:18px 45px;

border:none;

border-radius:50px;

background:white;

color:#7C3AED;

font-size:18px;

font-weight:700;

cursor:pointer;

}

@media(max-width:992px){

.info-grid{

grid-template-columns:repeat(2,1fr);

}

.form-grid{

grid-template-columns:1fr;

}

}

@media(max-width:768px){

.contact-hero h1{

font-size:42px;

}

.info-grid{

grid-template-columns:1fr;

}

.contact-cta h2{

font-size:34px;

}

}