.navbar{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    transition:.4s;
    padding:20px 0;
}

.navbar-scroll{
    background:rgba(5,8,22,.95);
    backdrop-filter:blur(20px);
    box-shadow:0 8px 30px rgba(0,0,0,.35);
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.logo{
    text-decoration:none;
    color:#fff;
    font-size:32px;
    font-weight:800;
    letter-spacing:1px;
}

.logo span{
    color:#7C3AED;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:35px;
    list-style:none;
}

.nav-links a{
    color:#fff;
    text-decoration:none;
    font-size:16px;
    font-weight:500;
    position:relative;
    transition:.3s;
}

.nav-links a:hover{
    color:#A855F7;
}

.nav-links a.active{
    color:#A855F7;
}

.nav-links a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:2px;
    background:#A855F7;
    transition:.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after{
    width:100%;
}

.demo-btn{
    text-decoration:none;
    padding:12px 28px;
    border-radius:40px;
    color:#fff;
    font-weight:600;
    background:linear-gradient(135deg,#7C3AED,#A855F7);
    transition:.35s;
}

.demo-btn:hover{
    transform:translateY(-4px);
    box-shadow:0 15px 30px rgba(124,58,237,.45);
}

.mobile-menu{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

@media(max-width:991px){

.nav-links{

position:fixed;

top:85px;

left:-100%;

width:100%;

height:calc(100vh - 85px);

background:#050816;

flex-direction:column;

justify-content:center;

gap:35px;

transition:.4s;

}

.nav-links.active{

left:0;

}

.demo-btn{

display:none;

}

.mobile-menu{

display:block;

}

}

@media(max-width:500px){

.logo{

font-size:26px;

}

}