.cta {

    padding: 120px 8%;

}

.cta-wrapper {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 60px;

    align-items: center;

}

.cta-left h2 {

    font-size: 56px;

    margin: 25px 0;

    line-height: 1.2;

}

.cta-left p {

    font-size: 18px;

    color: #9ca3af;

    line-height: 1.8;

    margin-bottom: 40px;

}

.contact-info {

    display: flex;

    flex-direction: column;

    gap: 22px;

}

.contact-info div {

    display: flex;

    align-items: center;

    gap: 15px;

    background: rgba(255, 255, 255, .05);

    padding: 18px 22px;

    border-radius: 18px;

    border: 1px solid rgba(255, 255, 255, .08);

    transition: .3s;

}

.contact-info div:hover {

    border-color: #ff5a36;

    transform: translateX(8px);

}

.contact-info svg {

    color: #ff5a36;

    font-size: 22px;

}

.cta-form {

    background: rgba(255, 255, 255, .05);

    border: 1px solid rgba(255, 255, 255, .08);

    backdrop-filter: blur(20px);

    border-radius: 30px;

    padding: 40px;

}

.cta-form h3 {

    font-size: 34px;

    margin-bottom: 30px;

}

.cta-form form {

    display: flex;

    flex-direction: column;

    gap: 18px;

}

.cta-form input,

.cta-form textarea {

    background: #18181B;

    border: 1px solid rgba(255, 255, 255, .08);

    padding: 18px;

    border-radius: 16px;

    font-size: 16px;

    color: #fff;

    outline: none;

    transition: .3s;

}

.cta-form input:focus,

.cta-form textarea:focus {

    border-color: #ff5a36;

    box-shadow: 0 0 0 4px rgba(255, 90, 54, .12);

}

.cta-form textarea {

    resize: none;

}

.cta-form button {

    margin-top: 10px;

    width: 100%;

}

@media(max-width:992px) {

    .cta-wrapper {

        grid-template-columns: 1fr;

    }

    .cta-left {

        text-align: center;

    }

    .cta-left h2 {

        font-size: 42px;

    }

}

@media(max-width:576px) {

    .cta {

        padding: 80px 5%;

    }

    .cta-form {

        padding: 25px;

    }

    .cta-left h2 {

        font-size: 34px;

    }

}